[Desktop Entry]
Name=Super Mario War - Level Editor
Comment=
Comment[pl]=
Icon=smw-leveleditor.png
Exec=smw-leveledit
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
Encoding=UTF-8
